<div id="app">
  <h1>Awesome Database</h1>
  <div>
      <p v-if="OriginalPrice"> $200 </p>
      <p v-else="membership">Membership is $11 for a limited time 🕒 </p>
    <h2> Adding a book to the database:</h2>
      
      
    <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>
    </div>
  <hr>
  <label for="bookName">Name:
    <input type="text" id="bookName" v-model="newbook">
  </label>
  <label for="bookGenre">Genre:
    <input type="text" id="bookGenre" v-model="Genre">
  </label>
  <button @click="createBookAlternate">ADD Book</button>
</div>
<book v-for="book in books" :collection="book"></book>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

<!-- Add SDKs for Firebase Firestore-->
<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
 const firebaseConfig = {
  apiKey: "AIzaSyCD0iySK8D16KkW7iMEbz8YQlJf4JW1_lk",
  authDomain: "test-61547.firebaseapp.com",
  databaseURL: "https://test-61547.firebaseio.com",
  projectId: "test-61547",
  storageBucket: "test-61547.appspot.com",
  messagingSenderId: "80350831434",
  appId: "1:80350831434:web:5db31e278ff2f629a317b3",
  measurementId: "G-FHMYP00P7Q"
};
  
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<article>
  <div class="loader">
    <div><h3>Welcome</h3></div>
    <div><h3>to</h3></div>
    <div><h3>Amany's</h3></div>
    <div><h3>Database</h3></div>
  </div> 
</article>