html, body {
  font-family: Helvetica, sans-serif;
}
h1 {
  width: 200px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center
}
@keyframes example {
  0%   {background-color:#F1948A; left:0px; top:0px;}
  25%  {background-color:#EBDEF0; left:200px; top:0px;}
  50%  {background-color:#A3E4D7; left:200px; top:200px;}
  75%  {background-color:#F9E79F; left:0px; top:200px;}
  100% {background-color:#F6DDCC; left:0px; top:0px;}
}
.book {
  display: inline-block;
  width: 100px;
  border: 1px solid grey;
  padding: 1em;
  height: 150px;
  vertical-align: top;
  text-align: center;
  margin: 1em;
  border-radius: 0.25em;
}
body {
  margin:0;
  padding: 0;
  background-color: #dedede;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   }
h3 {
  color: white;
  text-align: center;
}
.loader {
  position: relative;
  width: 205px;
  height: 205px;
  transform: rotate(45deg);
  animation: explode 1s linear infinite;
  
  
}

.loader div {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  animation: rotate 2s linear infinite;
   
}

.loader div:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #E7942B;
}

.loader div:nth-child(2) {
  top: 0;
  right:  0;
  background-color: #009345;
}

.loader div:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: #8A282E;
}

.loader div:nth-child(4) {
  bottom: 0;
  right:  0;
  background-color: #29BC2F;
 }

@keyframes explode {
  50% {
    width: 300px;
    height: 300px;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
